* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.common-btn {
    padding: 0.5rem 0.8rem;
    background: rgb(46, 116, 246);
    border-radius: 5%;
    border-style: none;
    color: white;
    cursor: pointer;
}

.centering-div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

body {
    margin: 0 auto;
}

/* navbar styles starts v1.0 */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% 7% 0px 7%;
}

.menu {
    width: 100%;
    margin: 0 10%;
}

.menu-list {
    list-style-type: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    width: 100%;
}

.menu-btns {
    text-decoration: none;
    border: none;
    outline: none;
    cursor: pointer;
    background: white;
}

.menu-btns:hover {
    background: rgb(161, 255, 252);
    padding: 5px;
    border-radius: 10%;
    color: black;
    font-weight: 700;
}

#logo-img {
    width: 100%;
    object-fit: cover;
}

/* navbar v1.0 ends */

/* hero-banner style starts */
.hero-section {
    background-image: url("./assets/banner.jpg");
    margin-top: 2%;
    height: 80vh;
    background-size: cover;
}

.hero-section h1,
p {
    color: aliceblue;
    padding: 0 12%;
}

/* hero banner style ends */