* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.common-btn {
    padding: 0.5rem 0.8rem;
    background: rgb(46, 116, 246);
    border-radius: 5%;
    border-style: none;
    color: white;
    cursor: pointer;
}

.centering-div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

body {
    margin: 0 auto;
}

/* navbar styles starts v1.0 */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% 7% 0px 7%;
}

.menu {
    width: 100%;
    margin: 0 10%;
}

.menu-list {
    list-style-type: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    width: 100%;
}

.menu-btns {
    text-decoration: none;
    border: none;
    outline: none;
    cursor: pointer;
    background: white;
}

.menu-btns:hover {
    background: rgb(161, 255, 252);
    padding: 5px;
    border-radius: 10%;
    color: black;
    font-weight: 700;
}

#logo-img {
    width: 100%;
    object-fit: cover;
}

/* navbar v1.0 ends */

/* hero-banner style starts */
.hero-section {
    background-image: url("./assets/banner.jpg");
    margin-top: 2%;
    height: 80vh;
    background-size: cover;
}

.hero-section h1 {
    color: aliceblue;
    padding: 0 12%;
}

.hero-section p {
    color: aliceblue;
    padding: 0 12%;
}

/* hero banner style ends */



/* Speaker section style starts */
.speaker-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* gap: 50px; */
    margin: 0% 15%;
    gap: 50px;
}

.speaker-card {
    border: 0.25px solid rgba(91, 173, 255, 0.877);
    /* border-radius: 6%; */
    text-align: left;
    height: 350px;
    width: 400px;
    border-radius: 7% 0 7% 0;
}

.speaker-card-img {
    width: 100%;
    height: 65%;
    border-radius: 7% 0 7% 0;
}

.centering-texts-of-card {
    height: 35%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 4%;
    line-height: 2;
    letter-spacing: 1px;
}

.speaker-card h3 {
    font-weight: 200;
    color: aqua;
}

.speaker-card p {
    font-weight: 100;
    color: aqua;
}

/* Speaker Section style ends */

.cards-section {
    display: flex;
    border: blue;
    margin: 0% 7% 3% 7%;
    gap: 7%;
}

.card {
    line-height: 1.5rem;
    cursor: pointer;
    border: 1px solid rgb(94, 129, 255);
    border-radius: 3% 3% 0 0;
    width: 400px;
    width: 100%;
    height: 50vh;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.card h4,
h2 {
    margin-left: 5%;
}

.active {
    background: #000;
    color: white;
}

.card:hover {
    background: #000;
    color: white;
}

.card.active:hover {
    background-color: white;
    color: black;
}

.card li::marker {
    color: blue;
}

.card h4,
h2,
ul {
    padding-left: 20px;
    padding-top: 8px;
}

.card ul {
    width: 100%;
    list-style-position: inside;
    /* padding-left: 20px; */
    padding-top: 10px;
}

.card button {
    width: 100%;
    border-radius: 0%;
    margin-top: auto;
}

.price-cards {
    margin-top: 10%;
}

.price-cards>h2,
p {
    text-align: center;
}

.cards-section {
    margin-top: 4%;
}






/* =========================
   GALLERY
========================= */

.gallery {
    display: grid;

    grid-template-columns: repeat(4, 1fr);

    grid-auto-rows: 260px;

    gap: 16px;
}


/* Every image/card */

.gallery-item {
    position: relative;

    overflow: hidden;

    background: #222;
}


/* Image */

.gallery-item img {
    width: 100%;
    height: 100%;

    object-fit: cover;

    display: block;

    transition: transform 0.6s ease;
}


/* Hover zoom */

.gallery-item:hover img {
    transform: scale(1.06);
}


/* =========================
   DIFFERENT GRID SIZES
========================= */

/* 2 columns + 2 rows */

.item-large {
    grid-column: span 2;
    grid-row: span 2;
}


/* normal */

.item-small {
    grid-column: span 1;
    grid-row: span 1;
}


/* tall */

.item-tall {
    grid-column: span 1;
    grid-row: span 2;
}


/* wide */

.item-wide {
    grid-column: span 2;
    grid-row: span 1;
}


/* normal */

.item-normal {
    grid-column: span 1;
    grid-row: span 1;
}


/* =========================
   IMAGE TEXT
========================= */

.image-info {
    position: absolute;

    left: 0;
    right: 0;
    bottom: 0;

    padding: 25px;

    background: linear-gradient(transparent,
            rgba(0, 0, 0, 0.85));

    transform: translateY(15px);

    opacity: 0.8;

    transition: 0.3s ease;
}

.gallery-item:hover .image-info {
    transform: translateY(0);
    opacity: 1;
}

.image-info span {
    font-size: 0.65rem;
    letter-spacing: 2px;
    color: #bbb;
}

.image-info h2 {
    margin-top: 8px;

    font-size: 1.2rem;
    font-weight: 500;
}



/* footer starts */

footer {
    height: 170px;
    margin: 0px auto 0px auto;
    background-color: azure;
}

.footer {
    width: 90vw;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px auto;

}

.footer-left {
    height: 100%;
    border-right: 1px solid black;
    flex-grow: 1;
    align-content: center;
    text-align: center;
}

.footer-right {
    margin-left: auto;
    flex-grow: 1;
    padding-left: 30px;
    display: flex;
    gap: 5%;
    cursor: pointer;
}